preprocessing:
  split_ratio: 0.3
  input_trainset: ./data/train_min.csv
  input_testset: ./data/test_min.csv
  random_seed: 0
  classes:
  - toxic
  - severe_toxic
  - obscene
  - threat
  - insult
  - identity_hate
  input_text_column: comment_text
  input_id_column: id
  maxlen: 128
  skip_tokenization: false
  batch_size: 32,
  use_predefined_embedding: true
  input_convertor: nn_vectorization
  predefined_embedding_path: ./data/glove.twitter.27B.100d_min.txt
training:
  learning_rate: 0.7
  dropout_rate: 0.5
  batch_normalization: true
  optimizer: sgd
  epochs: 1
  gradient_cliping: true
  batch_size: 32
  embedding_dim: 100
  maxlen: 128
  predict_only: false
  output_path: ./output
  classes:
  - toxic
  - severe_toxic
  - obscene
  - threat
  - insult
  - identity_hate
  model_name: transformer
  num_heads: 2
  ff_dim: 100
predict:
  output_path: ./data/submission.csv
  enable_calibration: false
  calibrator_type: platt_scaling
  calibrators_output_path: ./output
  debug_validation: false
  classes:
  - toxic
  - severe_toxic
  - obscene
  - threat
  - insult
  - identity_hate
